.login-header {
    overflow: hidden;
    margin-top: 80px;

    .logo {
        text-align: right;
        display: flex;
        align-items: center;

        div:first-child {
            padding-right: 20px;

            p {
                color: #FF9421;
                margin: 0;
                font-family: 'STHupo';
                font-size: 20px;
            }
        }

        .con-lib {
            font-size: 18px;

            span {
                border-left: 1px solid;
                padding-left: 22px;

            }
        }
    }

    .login-header-right {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            margin: 0;

            li {
                padding: 0 22px;
                font-size: 18px;

                span {
                    display: inline-block;
                    background: #F2F2F2;
                    padding: 2px 15px;
                    cursor: pointer;
                }

                span:first-child {
                    border-radius: 4px 0px 0px 4px
                }

                span:last-child {
                    border-radius: 0px 4px 4px 0px;
                }

                span.actived {
                    background: #FF9421;
                    color: #fff;
                }

            }

            li:first-child {
                border-right: 1px solid;
            }
        }
    }
}